.modal-visible{

}
.modal-hidden{
  display: none;
}

td:hover{
  cursor: pointer;
}

.table>tbody>tr>td{
  padding: 2px;
}

.desc {
  z-index: 100;
  opacity: 0.9;
	display:block;
	position:absolute;
	border:1px solid #ddd;
	background-color:#fff;
	border-radius:1px;
	padding:1px;
	color:#333;
	font-size:12px Arial;
}
